body {
  /* background-color: RGB(58, 58, 58); */
  background-image: url(/images/background2.png);
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 1em;
  padding: 0 1.5rem;
  box-sizing: border-box;
  color: rgb(255, 255, 255) !important;
}

a {
  color: rgb(255, 255, 255);
}

header {
  margin-left: -200px;
  margin-right: -200px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.nav-list {
  display: flex;
}

.nav-list li a {
  text-decoration: none;
}

.nav-list li {
  font-size: 22px;
  display: flex;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  background-color: RGB(255, 200, 146);
  border: none;
  border-radius: 5px;
}

button a {
  color: RGB(58, 58, 58);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#download {
  margin-left: 250px;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}
